LISTEN_ADDRESS=127.0.0.1:55556

LOG_LEVEL=info
LOG_FORMAT=text

PROVIDER=ollama

# if ollama
# OLLAMA_HOST=http://127.0.0.1:11434
# OLLAMA_MODEL=qwen2.5vl:3b

# if gemini
# GOOGLE_API_KEY=your-api-key-here
# GEMINI_MODEL=gemini-2.0-flash
